.home
{
  padding-top: 55px;
}

.bgcolor
{
    background-color:rgb(217, 38, 74);

}


ion-icon
{
    color: white;
}
.chatbox
{
    border-style: none;
    background-color: rgb(196, 73, 89);
    margin: 7px;
}

.whatsapp
{
    border-style: none;
    background-color: rgb(196, 73, 89);
    margin: 7px;
}
.navbar-toggler-icon
{
 background: black;
}
.container {
    position: relative;
    max-width:100%; /* Maximum width */
    margin: 0 auto; /* Center it */
    padding-top: 40px;
  }
  
  .container-fluid .content {
    position:relative; /* Position the background text */
    bottom: 480px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color:rgb(217, 38, 74); /* Grey text */
    width: 100%; /* Full width */
    /*padding: 50px; /* Some padding */
  }
  /*
  .button {
    background-color:blueviolet;
    border: none;
    color: white;
    /*padding: 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*margin: 4px 2px;
  }

  .button4 
  {
    border-radius: 12px;
  }*/
  .form-controlrounded
  {
    position: relative;
    bottom: 480px;
  }
  .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    /*padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    text-align: center;
  }
  .warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.description
{
    font-size: 20px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    /*perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(237, 194, 24);
    color: rgb(220, 37, 52);
    height:60%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(220, 37, 52);
    color: white;
    transform: rotateY(180deg);
    height: 400px;
  }
  
.container{
    min-height:100vh;
    background-color:#3e2093;
    display:flex;
    justify-content:center;
    align-items:center;
   
}

.card{
    background-color:#fff2e0;
     z-index:10;
    font-family: 'Poppins', sans-serif;
    padding:20px;
    border-radius:20px;
    
}
.top-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.top-div h2{
    font-weight:900;
   
}
.top-div p{
    font-size:12px;
    font-weight:900;
    color:#8d8dab;
     font-family: 'Poppins', sans-serif;
}
.stats{
    display:flex;
    margin:20px;
    justify-content:space-between;
}
.stats1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    cursor:pointer;
    transition:all 0.5s;
    padding:10px;
}
.stats1 span:nth-child(1){
    color:#5f30e2;
    font-size:18px;
}
.stats1 span:nth-child(2){
    font-weight:800;
    font-size:11px;
  
}

.stats1:hover{
    background-color:white;
}
.card1{
    margin-top:40px;
    position:relative;
    background-color:#fff;
    border-radius:10px;
    overflow:hidden;
    display:flex;
    gap:20px;
    padding:10px;
    height:100%;
    gap:20px
}

.card1 .left{
  
}
.card1 .form-control{
    width:100%;
    position:relative;
}

.card1 .form-control input[type="text"]{
 width:100%;   
 height:30px;
 box-sizing:border-box;
 border:none;
 outline:none;
  margin-top:25px;
  padding:0 24px;
  box-sizing:border-box;
  background-color:#f9f9fb;
 
}
.card1 .form-control span{
    position:absolute;
   top:32px;
   font-size:12px;
    left:24px;
}
.card1 .form-control i{
    position:absolute;
    top:33px;
    left:3px;
    font-size:14px;
}
.card1 .form-control .fa-mobile-phone{
    position:absolute;
    top:30px;
    left:3px;
    font-size:22px;
}
.form-control input:focus~span,.form-control input:valid~span{
    top:6px;
    font-size:12px;
    font-weight:800;
}
.text-area{
    position:relative;
    
}
.card1 .right{

    margin-top:24px;
    box-sizing:border-box;
}
.card1 .right textarea{
    height:140px;
    resize:none;
    width:100%;
    border:none;
    outline:none;
    background-color:#f9f9fb;
    padding-top:7px;
     padding-left:10px;
     box-sizing:border-box;
}
.card1 .right .text-area span{
    position:absolute;
    top:7px;
    left:10px;
    font-size:12px;
}
.text-area textarea:focus~span,.text-area textarea:valid~span{
    top:-20px !important;
    font-size:12px;
    font-weight:800;
}
.button{
    display:flex;
    justify-content:center;
    position:relative;
}

.button button{
    height:30px;
    width:200px;
    border:none;
    background-color:#5f30e2;
    color:#fff;
    font-size:12px;
    border-radius:10px;
    margin-top:10px;
}



@media(max-width:400px){
    .card1{
        display:block;
    }
}
  .pros
  {
    padding-top: 150px;
  }

  .container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .container .content .left-side{
    width:25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content:'';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }


  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color:rgb(220, 37, 52);
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }

  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color:rgb(217, 38, 74);
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }

  .right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background:rgb(220, 37, 52);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background:rgb(196, 73, 89);
  }
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
   
  